.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  footer {
    position: absolute;
    bottom: 0;
    background: #cad3e3;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    p {
      color: #383434;
    }
  }
}